/* Faz a página ocupar 100% da tela */
.base_page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    overflow: hidden; /* Evita scroll */
}

/* Faz o conteúdo ocupar todo o espaço disponível entre header e footer */
.page-content {
    flex-grow: 1;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    width: 100%;
}

/* Garante que o Header e Footer fiquem fixos */
header, footer {
    flex-shrink: 0;
    width: 100%;
}
