.table-container {
  overflow-x: auto;
}

.table {
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.table th {
  background-color: #007bff;
  color: white;
  text-align: center;
  padding: 10px;
}

.table td {
  text-align: center;
  padding: 8px;
}

.icon-btn {
  background: none;
  cursor: pointer;
  margin: 10px;
  border: 0px;
}

.icon {
  width: 24px;
  height: 24px;
}

@media (max-width: 768px) {
  .table {
    display: block;
  }
  
  .table thead {
    display: none;
  }

  .table tbody, .table tr {
    display: block;
    width: 100%;
  }

  .table tr {
    border-bottom: 2px solid #ddd;
    margin-bottom: 10px;
  }

  .table td {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    text-align: left;
  }

  .table td::before {
    content: attr(data-label);
    font-weight: bold;
    color: #007bff;
  }

  .mobile-select-all {
    margin-bottom: 15px;
  }

  .mobile-checkbox {
    margin-right: 10px;
  }

  .mobile-card {
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    background-color: #fff;
  }

  .mobile-card p {
    margin: 5px 0;
  }

  .mobile-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }

  .mobile-checkbox {
    display: flex;
    align-items: center;
    margin-right: 10px;
  }
}
