.custom-carousel {
  width: 100%;
}

.custom-carousel .carousel-caption {
  background: rgba(0, 0, 0, 0.5);
  padding: 1rem;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .custom-carousel .carousel-caption {
    display: none;
  }
}
